<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet/less" href="{{ STATIC_URL }}style.less">
    {% block js %}
        <script src="{{ STATIC_URL }}less.js"></script>
    {% endblock %}

</head>
<body>
    <header>
        <div class="wrapper">

            <span>bookPasser</span>
            {% block login %}
            <a href="/">Home</a>
            <a href="/users/">Public Profiles</a>
            <a href="/users/{{ username }}">My Profile</a>
            <a href="/bookPassers">Public bookPassers</a>
            <form action="/logout">
                <input type="submit" id="btnLogOut" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or bookPasser_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                {{ bookPasser_form.content.errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}
 
            {% block content %}
 
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="wrapper">
            bookPasser - Locate your books!

        </div>
    </footer>
</body>
</html>